[submodule "lib/inkcpp"]
	path = lib/inkcpp
	url = https://github.com/t0mg/inkcpp.git

[submodule "papyrix"]
	path = papyrix
	url = https://github.com/bigbag/papyrix-reader
[submodule "tools/eenky"]
	path = tools/eenky
	url = https://github.com/t0mg/eenky.git
